/* This file contains initial configurations */

@import url("variables.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all ease 0.3s;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
  line-height: 1.6;
}


ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;

}

a:hover {
  transform: scaleY(1.1) translateY(-5px);
  color: goldenrod;
  box-shadow: 0 8px 20px rgba(255, 223, 142, 0.6);
  border-color: transparent;
}

html {
  scroll-behavior: smooth;
}

p {
  color: gray;
}